<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Library</title>
  </head>

  <body class="grey lighten-5">
    <main class="container center">
      <h1>Library</h1>

      <p>App para controle de livros de uma biblioteca</p>

      <a href="/oauth2/authorization/github" class="btn">
        <i class="material-icons left">check</i>
        entrar com github
      </a>
    </main>
  </body>
</html>
