<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Library</title>
  </head>

  <body class="grey lighten-5">
    <main class="container center">
      <h4>Tem certeza que deseja sair da aplicação?</h4>

      <form th:action="${'/logout'}" method="post">
        <a href="/task" class="btn grey">
          <i class="material-icons left">chevron_left</i>
          Cancelar
        </a>

        <button class="btn">Sim, desejo sair</button>
      </form>
    </main>
  </body>
</html>
