<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{_template :: head('Sair')}"></head>

  <body class="grey lighten-5">
    <main class="container center">
      <h4 th:text="#{page.logout.title}"></h4>

      <form th:action="${'/logout'}" method="post">
        <a href="/book" class="btn grey" th:text="#{page.logout.cancelButton}">
          <i class="material-icons left">chevron_left</i>
        </a>

        <button class="btn" th:text="#{page.logout.confirmButton}"></button>
      </form>
    </main>
  </body>
</html>
