<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('Cadastrar')}"></head>
  </head>
  <body class="grey lighten-5">
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">
      <h2 th:text="#{page.bookForm.title}"></h2>

      <div class="card">
        <form th:action="${'/book'}" method="post" th:object="${book}">
          <div class="card-content">
            <div class="input-field">
              <input
                required
                type="text"
                th:field="*{title}"
                th:classappend="${#fields.hasErrors('title')} ? invalid"
              />
              <label for="title" th:text="#{book.label.title}"></label>
              <span class="helper-text red-text" th:errors="*{title}"></span>
            </div>

            <div class="input-field">
              <input
                required
                type="text"
                th:field="*{author}"
                th:classappend="${#fields.hasErrors('author')} ? invalid"
              />
              <label for="title" th:text="#{book.label.author}"></label>
              <span class="helper-text red-text" th:errors="*{author}"></span>
            </div>

            <div class="input-field">
              <textarea
                required
                class="materialize-textarea"
                th:field="*{synopsis}"
                th:classappend="${#fields.hasErrors('synopsis')} ? invalid"
              ></textarea>
              <label for="synopsis" th:text="#{book.label.synopsis}"></label>
              <span class="helper-text red-text" th:errors="*{synopsis}"></span>
            </div>

            <div class="input-field">
              <input
                required
                type="number"
                min="1"
                th:field="*{quantity}"
                th:classappend="${#fields.hasErrors('quantity')} ? invalid"
              />
              <label for="title" th:text="#{book.label.quantity}"></label>
              <span class="helper-text red-text" th:errors="*{quantity}"></span>
            </div>
          </div>
          <div class="card-action right-align">
            <a href="/book" th:text="#{page.bookForm.cancelButton}"></a>
            <button class="btn" th:text="#{page.bookForm.createButton}">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </main>

    <div class="fixed-action-btn">
      <a href="/book/new" class="btn-floating btn-large light-blue darken-1">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger')
      const options = {
        constrainWidth: false,
        coverTrigger: false
      }
      var instances = M.Dropdown.init(elems, options)
    })
  </script>
</html>
