<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Library</title>

    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.js"
      integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.sidenav').sidenav()
      })
    </script>
  </head>
  <body class="grey lighten-5">
    <nav class="light-blue darken-1">
      <div class="nav-wrapper">
        <a href="/book" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/book">Livros</a></li>
          <li><a href="#">Emprestados</a></li>
          <li><a href="#">Usuários</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li class="active"><a href="/book">Livros</a></li>
      <li><a href="#">Emprestados</a></li>
      <li><a href="#">Usuários</a></li>
    </ul>

    <main class="container">
      <h2>Cadastrar Livro</h2>

      <div class="card">
        <form action="/book" method="post" th:object="${book}">
          <div class="card-content">
            <div class="input-field">
              <input
                type="text"
                th:field="*{title}"
                th:classappend="${#fields.hasErrors('title')} ? invalid"
              />
              <label for="title">Título</label>
              <span class="helper-text red-text" th:errors="*{title}"></span>
            </div>

            <div class="input-field">
              <input
                type="text"
                th:field="*{author}"
                th:classappend="${#fields.hasErrors('author')} ? invalid"
              />
              <label for="title">Autor</label>
              <span class="helper-text red-text" th:errors="*{author}"></span>
            </div>

            <div class="input-field">
              <textarea
                class="materialize-textarea"
                th:field="*{synopsis}"
                th:classappend="${#fields.hasErrors('synopsis')} ? invalid"
              ></textarea>
              <label for="synopsis">Sinópse</label>
              <span class="helper-text red-text" th:errors="*{synopsis}"></span>
            </div>

            <div class="input-field">
              <input
                type="number"
                min="1"
                th:field="*{quantity}"
                th:classappend="${#fields.hasErrors('quantity')} ? invalid"
              />
              <label for="title">Quantidade</label>
              <span class="helper-text red-text" th:errors="*{quantity}"></span>
            </div>
          </div>
          <div class="card-action right-align">
            <a href="/book">Cancelar</a>
            <button class="btn">Cadastrar</button>
          </div>
        </form>
      </div>
    </main>

    <div class="fixed-action-btn">
      <a href="/book/new" class="btn-floating btn-large light-blue darken-1">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </body>
</html>
