<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_template :: head('Livros')}"> </head>
  <body class="grey lighten-5">
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">
      <div
        class="card-panel teal accent-3 white-text"
        th:if="${success}"
        th:text="${success}"
      ></div>
      <div
        class="card-panel red darken-1 white-text"
        th:if="${error}"
        th:text="${error}"
      ></div>

      <h2 th:text="#{page.home.title}"></h2>
      <h2 th:text="${user_id}"></h2>

      <div class="row">
        <div class="col s12 m6 l4" th:each="book : ${books}">
          <div class="card">
            <div class="card-content">
              <span class="card-title" th:text="${book.title}"></span>
              <span th:text="#{card.by}"></span>
              <span th:text="${book.author}"></span>
              <p th:text="${book.synopsis}"></p>
              <span
                th:data-badge-caption="#{card.stock}"
                class="badge light-blue white-text"
                th:text="${book.inStock}"
              ></span>
            </div>

            <div class="card-action">
              <a th:href="${'/book/delete/' + book.id}" class="btn red">
                <i class="material-icons">delete</i>
              </a>
              <a
                th:if="${!#lists.contains(book.users, user)}"
                th:href="${'/book/catch/' + book.id}"
                class="btn purple"
                title="pegar tarefa"
              >
                <i class="material-icons">pan_tool</i>
              </a>
              <a
                th:if="${#lists.contains(book.users, user)}"
                th:href="${'/book/drop/' + book.id}"
                class="btn amber black-text"
                title="largar tarefa"
              >
                <i class="material-icons">do_not_touch</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="fixed-action-btn">
      <a href="/book/new" class="btn-floating btn-large light-blue darken-1">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger')
      const options = {
        constrainWidth: false,
        coverTrigger: false
      }
      var instances = M.Dropdown.init(elems, options)
    })
  </script>
</html>
